# Legacy ASR baseline: use Python 3.8-3.11 (3.11 for a fresh environment).
# faster-whisper 0.10.1 requires av==10.* and ctranslate2 >=3.22,<4.
# Do not silently upgrade the recognition engine during reliability changes.
Cython==0.29.37
av==10.*
ctranslate2==3.24.0
numpy>=1.21.6,<2
tokenizers>=0.13,<0.16
onnxruntime>=1.14,<1.18
faster-whisper==0.10.1
requests>=2.31.0
